<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="dark" mode="ios" style="font-size: small;"></ion-back-button>
    </ion-buttons>
    <ion-title slot="secondary" class="ion-padding" class="bg-red">{{titulo}}</ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
      <ion-buttons *ngIf="seccion=='busqueda'" slot="secondary" class="ion-align-self-center">
        <ion-button (click)="presentfilterPrompt()">
          <ion-icon slot="icon-only" name="cog-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-searchbar 
            placeholder="Buscar" 
            showClearButton="focus" 
            inputmode="text"
            (search) = "onSearch($event)"
            debounce="250"
            style="padding: 0px !important;"
            color="transparente"></ion-searchbar>
        </ion-col>
      </ion-row>
    
  </ion-toolbar>

</ion-header>