<app-barra-busqueda titulo = 'Mis Productos' bg_color="bg-red"></app-barra-busqueda>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="light" routerLink="/crear-editar-producto">
          <ion-icon slot="start" name="add" color="red"></ion-icon>
          <ion-text>Crear un nuevo producto</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-tarjeta-producto *ngFor="let p of productos" 
    [producto]="p" 
    [onClickCard]="onClickCard"
    [show_options] = 'true' 
    [opciones]="opciones"
    color=red>
  </app-tarjeta-producto>

</ion-content>

<app-menu-navegacion></app-menu-navegacion>




