<app-barra-busqueda titulo = 'Perfil Contacto' bg_color="bg-red"></app-barra-busqueda>


<ion-content class="ion-padding">
  <ion-card *ngFor="let datos of datosPerfil">

      <ion-item>
        <ion-label class="centrarTexto">Información de Contacto</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="centrarTexto">{{datos.nombre}} {{datos.apellido}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="centrarTexto">{{datos.numero}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="centrarTexto">{{datos.correo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="centrarTexto">{{datos.carrera}}</ion-label>
      </ion-item>

      <ion-card>
        <ion-item>
          <ion-label class="centrarTexto">Calificación como Vendedor</ion-label>          
        </ion-item>
        
        <ion-item>
          <ion-range min="-0" max="5"  [value]="datos.calificacionComoVendedor" snaps="true" ticks="true" [pin]="true" disabled="true">
            <ion-icon size="small" slot="start" name="star" color="yellow"></ion-icon>
            <ion-icon slot="end" name="star" color="yellow"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label class="centrarTexto">Calificación como Comprador</ion-label>          
        </ion-item>
        
        <ion-item>
          <ion-range min="-0" max="5"  [value]="datos.calificacionComoComprador" snaps="true" ticks="true" [pin]="true" disabled="true">
            <ion-icon size="small" slot="start" name="star" color="yellow"></ion-icon>
            <ion-icon slot="end" name="star" color="yellow"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-card>
  </ion-card>
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand ="block" color="light" type="button" routerLink="/dejar-review">
          <ion-icon slot="start" name="star-half-outline" color="yellow"></ion-icon>
          Evaluar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<app-menu-navegacion></app-menu-navegacion>