<app-barra-busqueda titulo = 'Crear/Editar Prod.'></app-barra-busqueda>
<ion-content color="light" fullscreen="true">
  <form [formGroup] = "productForm" class="ion-padding" (ngSubmit)="onsubmitProductForm()">
    <ion-item>
      <ion-label position="floating">Nombre del Producto<ion-text color="red">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="nombre" [value]="producto.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion<ion-text color="red">*</ion-text></ion-label>
      <ion-textarea required type="text" formControlName="descripcion" [value]="producto.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de Producto<ion-text color="red">*</ion-text></ion-label>
      <ion-select formControlName="tipo">
        <ion-select-option value="Libro">Libro</ion-select-option>
        <ion-select-option value="Electronico">Electronico</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clase donde lo usaste</ion-label>
      <ion-select formControlName="clase">
        <ion-select-option value="Calculo 1">Calculo 1</ion-select-option>
        <ion-select-option value="Calculo 2">Calculo 2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" formControlName="precio" [value]="producto.precio"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Negociable</ion-label>
            <ion-select formControlName="negociable">
              <ion-select-option [value]="true">Si</ion-select-option>
              <ion-select-option [value]="false">No</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>Imagen</ion-label>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button expand='block' color="dark" type="button" (click)="abrirGaleria()">
            Cargar desde la galería
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand='block' color="dark" type="button" (click)="usarCamara()">
            Tomar foto ahora
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img [src]="image" *ngIf="image" />

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button block color="dark" type="submit">
            <ion-icon slot="start" name="create-outline" color="gold"> </ion-icon>
            <ion-text>Guardar Cambios</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    </form>

</ion-content>

<app-menu-navegacion seccion="Vender"></app-menu-navegacion>