<app-barra-busqueda titulo = 'Editar Perfil' bg_color="bg-yellow"></app-barra-busqueda>

<ion-content ion class="ion-padding">
  <ion-card *ngIf="perfil">
    <form class="ion-padding">
      <ion-item>
        <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [placeholder]="perfil.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [placeholder]="perfil.apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de Celular<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="tel" maxlength="10" [placeholder]="perfil.celular"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Carrera<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [placeholder]="perfil.carrera"></ion-input>
      </ion-item>  

      <ion-item>
        <ion-label position="floating">Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item> 

      <ion-item>
        <ion-label position="floating">Confirmar contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item> 
    </form>    
  </ion-card>



  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="light" type="button" routerLink="/mi-perfil">
          <ion-icon slot="start" name="checkmark-circle-outline" color="yellow"></ion-icon>
          Guardar Cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<app-menu-navegacion></app-menu-navegacion>