
<ion-header>
  <ion-toolbar>
    <ion-img  src="/assets/iconoFinal.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content color="light" fullscreen="true">
  <form [formGroup] = "loginForm" class="ion-padding" (ngSubmit)="logIn()">
    <ion-item class="bordeRedondeado espacioAbajo">
      <ion-label position="floating">Correo Electrónico<ion-text color="red">*</ion-text></ion-label>
      <ion-input required type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="bordeRedondeado">
      <ion-label position="floating">Contraseña<ion-text color="red">*</ion-text></ion-label>
      <ion-input required type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="dark" type="submit">
            Iniciar sesión
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="dark" type="button" routerLink="/crear-cuenta">
            Crear cuenta
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>