
<ion-header>
  <ion-toolbar>
    <ion-img  src="/assets/iconoFinal.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content color="light" fullscreen="true">
  <form class="ion-padding">
    <ion-item class="bordeRedondeado espacioAbajo">
      <ion-label position="floating">Correo Electrónico<ion-text color="red">*</ion-text></ion-label>
      <ion-input required type="email"></ion-input>
    </ion-item>
    <ion-item class="bordeRedondeado">
      <ion-label position="floating">Contraseña<ion-text color="red">*</ion-text></ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>
  </form>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="dark" type="button" routerLink="/busqueda">
            Iniciar sesión
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="dark" type="button" routerLink="/crear-cuenta">
            Crear cuenta
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>