<app-barra-busqueda titulo = 'Perfil Vendedor' bg_color="bg-blue"></app-barra-busqueda>


<ion-content class="ion-padding">
  <ion-card *ngFor="let datos of datosPerfil">

      <ion-item>
        <ion-label class="centrarTexto">{{datos.nombre}} {{datos.apellido}}</ion-label>
      </ion-item>

      <ion-card>
        <ion-item>
          <ion-label class="centrarTexto">Calificación como Vendedor</ion-label>          
        </ion-item>
        
        <ion-item>
          <ion-range min="-0" max="5"  [value]="datos.calificacionComoVendedor" snaps="true" ticks="true" [pin]="true" disabled="true">
            <ion-icon size="small" slot="start" name="star" color="yellow"></ion-icon>
            <ion-icon slot="end" name="star" color="yellow"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-card>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label >Comentarios</ion-label>
    </ion-item>

    <ion-list *ngFor="let comentario of comentarios">
      <ion-label class="ion-padding">{{comentario.nombre}} {{comentario.apellido}}</ion-label>
      <ion-label class="ion-padding">{{comentario.fecha}}</ion-label>
      <ion-item>
        <ion-label>{{comentario.comentario}}</ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>