<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/busqueda">
      <ion-icon name="home-outline" color="blue"></ion-icon>
      <ion-label>Busqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/mi-perfil">
      <ion-icon name="person-circle-outline" color="yellow"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/mis-productos">
      <ion-icon name="pricetags-outline" color="red"></ion-icon>
      <ion-label>Mis Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/mis-reservas">
      <ion-icon name="bookmark-outline" color="green"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<ion-footer>
  <ion-toolbar color="transparente">

    <ion-row class="ion-align-items-center">
      <ion-col *ngFor="let op of opciones" class="ion-text-center" size="3" [routerLink]="op.link">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" [name]="op.icono" [color]="op.color"></ion-icon>
        </ion-button>
        <ion-text color="dark" style="font-size: small;">
          <ion-label>{{op.nombre}}</ion-label>
        </ion-text>
      </ion-col>
    </ion-row>



  </ion-toolbar>
</ion-footer>