<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="busqueda">
      <ion-icon name="home-outline" class="color-blue"></ion-icon>
      <ion-label>Busqueda</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person-circle-outline" class="color-yellow"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-productos">
      <ion-icon name="pricetags-outline" class="color-red"></ion-icon>
      <ion-label>Mis Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-reservas">
      <ion-icon name="bookmark-outline" class="color-green"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>