<ion-footer>
  <ion-toolbar color="transparente">

    <ion-row class="ion-align-items-center">
      <ion-col *ngFor="let op of opciones" class="ion-text-center" size="3" [routerLink]="op.link">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" [name]="op.icono" [color]="seccion==op.nombre?'red':'dark'"></ion-icon>
        </ion-button>
        <ion-text color="dark" style="font-size: small;">
          <ion-label>{{op.nombre}}</ion-label>
        </ion-text>
      </ion-col>
    </ion-row>



  </ion-toolbar>
</ion-footer>